<h2>Lista de categorias: </h2>
<hr>
<a href="/adm/categorias/cadastrar"><button class="btn btn-success">Nova categoria</button></a>

{{#each categorias}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>{{slug}}</small><br>
            <a href="/adm/categorias/editar/{{_id}}"><button class="btn btn-success mt-3">Editar categoria</button></a>
            <a href="/adm/categorias/apagar/{{_id}}"><button class="btn btn-danger mt-3">Apagar categoria</button></a>
        </div>
    </div>
{{else}}
    <div class="alert alert-warning mt-4" role="alert">
       <h4>Não há nenhuma categoria registrada!</h4> 
    </div>
{{/each}}