<h2>Postagens</h2>
<hr>
<a href="/adm/postagem/criar"><button class="btn btn-success">Nova postagem</button></a>

{{#each postagens}}


<div class="card mt-4">
    <div class="card-body">
        <h4>{{titulo}}</h4>
        <p>{{descricao}}</p>
        <hr>
        <small><strong>{{categoria.nome}}</strong></small><br>
        <small>{{data}}</small><br>
        <a href="/adm/postagem/editar/{{_id}}"><button class="btn btn-success mt-3">Editar postagem</button></a>
        <a href="/adm/postagem/apagar/{{_id}}"><button class="btn btn-danger mt-3">Apagar postagem</button></a>
    </div>
</div>

{{/each}}